@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 100vh;
  background: url(img/typewriter.jpg);
  background-size: cover;
  /* background-position: center; */
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 32px;
  background: rgba(55, 55, 55, 0.6);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main__heading {
  margin: 50px 0 70px;
  text-align: center;
  font-size: 26px;
}

.main__input-wrapper {
}

.main__paragraph {
}

.main__input {
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  margin: 50px auto 40px;
  outline: none;
  width: 100%;
}

.main__input::placeholder {
  color: #c5c5c5;
}

.main__result {
  text-align: center;

  padding: 10px 20px;
  border-radius: 4px;
  font-size: 12px;
}

.main__button {
  background: none;
  border: 2px solid white;
  padding: 8px 32px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  margin: 50px 0 40px;
  font-weight: bold;
}
.main__button:hover {
  background: rgba(55, 55, 55, 1);
}

@media (min-width: 768px) {
  .main {
    width: 50%;
    height: 70%;
  }
  .main__heading {
    font-size: 36px;
  }
  .main__input {
    font-size: 20px;
  }
  .main__input-wrapper {
    min-width: 70%;
    font-size: 22px;
  }
  .main__result {
    font-size: 16px;
  }
  .main__button {
    font-size: 20px;
    padding: 16px 64px;
  }
}

@media (min-width: 1024px) {
  .main__heading {
    font-size: 48px;
  }
  .main__input {
    font-size: 24px;
  }
  .main__input-wrapper {
    font-size: 30px;
  }
  .main__result {
    font-size: 22px;
  }
  .main__button {
    font-size: 30px;
  }
}
